#sign-out {
    padding: 3em;
    border: 1px solid #17a2b8;
    margin-top: 6em;
    background-color: #17a2b8;
    color: white;
    border-radius: 0.5em;
}

#headline {
    color: #e44232;
    text-align: center; 
}

#sign-out-message {
    text-align: center;
    margin-top: 1em;
}