.container-fluid { 
   background-color: #343a40;
   color: white;
   height: 100%;
   min-height: 100vh;
}

form { 
   margin-top: 7em;
   padding: 3em 5em;
   border: 1px solid white;
   background-color: #17a2b8;
   border-radius: 0.5em;
}

form input {
   width: 22em;
}


/*** **** Media queries *** ***/
@media screen and (max-width: 767px) {
   form { padding: 1em 3em; }
}

@media screen and (max-width: 584px) {
   form { padding: 1em 3em; }
}

@media screen and (max-width: 520px) {
   form { padding: 1em 2em; }
}

@media screen and (max-width: 430px) {
   form { padding: 1em 1em; }
   form input { width: 100%; }
}

@media screen and (max-width: 375px) {
   h2 { font-size: 1.5em; }
   form { padding: 1em 1em; }
   form input { width: 100%; }
}
